<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container">
        <a class="navbar-brand" href="/">Coco Media</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cocofeed">Coco Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myposts">My Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mylikes">My Likes</a>
                </li>
                <% if(!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>

                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">logout</a>
                        </li>
                </ul>
                <p class="user_name">Welcome <b><%= user.firstname %> </b> :)</p>
                <% } %> 
        </div>
    </div>
</nav>